*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeSpeed;
}
.bground{
    height: 100vh;
    background-image: linear-gradient(#1a2a6c, #b21f1f, #fdbb2d);
    position: relative;   
}
.wrapper{
    width: 95vw;
    height: 90vh;
    background-color: #FFFFFF;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title{
    text-align: center;
}
.scroll{
    height: 100px;
    overflow-y: scroll;
}
footer{
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 40px;
    color: rgb(0, 0,0,0.5);
}
.backtodashboard{
    position: absolute;
    top: 12px;
    right: 32px;
    font-size: 20px;
    color: gray;
}
.back{
    position: absolute;
    top: 12px;
    left: 32px;
    font-size: 20px;
    color: gray;
}
.backtodashboard:hover, .back:hover{
    color: rgb(128, 128, 128,0.5);
}
.textarea{
    width: 100%;
    height: 150px;
}